<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balmid Investment - About Us</title>
    
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/aboutstyle.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,300;1,600&display=swap" rel="stylesheet">
</head>
<body>
                           
    <section class="about-us-main-page">
        <div class="container-fluid">
            <h1>About Us</h1>
            <div class="about-us-main-text">
                <p>Balmid Industries Limited is a multi-producing company in which one of its primary purposes is expanding the agricultural sector of the nation. We are a group of company which focuses on the betterment and survival of the agricultural body and creating more employment opportunities for the youths and young adults. 
                    In 2016, the company was first launched under the name Horbal Nigeria Enterprise, which engaged in the manufacturing of food and drink products and Poultry farming. But as time goes on, we decided to expand our branches and focus on farming on larger scales with the help of providing constant and non- fluctuating of food supply to the nation at large. 
                    Balmid Industries has been breaking grounds so far, by expanding and creating more farmland’s around various cities and localities by making food supply easy and also affordable for people because starvation is one of the major crises the nation is facing today and we have decided to set our feet down and keen to help in ways we can. 
                    We never said it would be smooth or straight forward, but we have decided to take up these challenges and come out strong by giving back to the government that made it all possible and also to people who are in need. 
                    At Balmid Industries, we range from various sectors starting from agriculture (Farming), down to manufacturing, supply, and societal support.
                    At Balmid, we have intellectuals and experienced board of directors running the day to day affairs of the company to ensure smooth operations. And also various investment packages to ensure we set the right course. 
                    During this year 2020, we have had breakthroughs and occupied different grounds at the same time had more assets.  Still, to us, we believe we need to do more because we think there are even more grounds to cover and success to achieve</p> 

            </div>
        </div>
    </section>
</body>
</html>