<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Private Investment</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <section id="private-investment-form">
        <ul>
        <li><a href="Individual-Investment-personal-details.html">Personal Details</a></li>
        <li><a href="identification.html">Identification</a></li>
        <li><a href="investment.html">Investment Plan</a></li>
        <li><a href="Next-of-kin.html">Next of kin</a></li>
        <li><a href="#about">Upload</a></li>
        <li><a href="declaration.html">Declaration</a></li>
        <li><a href="payment.html">Make payment</a></li>
        <li><a href="#">Submit</a></li>
        </ul>
        <div class="container-fluid container-fluid-form">
            <table>
                <h3>Personal Details</h3>
                <tr>
                    <td>
                        <label for="surname">Surname</label>
                    </td>
                    <td>
                        <input type="text" name="" id="surname">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="firstname">Firstname</label>
                    </td>
                    <td>
                        <input type="text" name="" id="firstname">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="othername">Other Name</label>
                    </td>
                    <td>
                        <input type="text" name="" id="othername">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="residentialaddress">Residential Address</label>
                    </td>
                    <td>
                        <input type="text" name="" id="residentialaddress">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="city">City</label>
                    </td>
                    <td>
                        <input type="text" name="" id="city">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="state">State</label>
                    </td>
                    <td>
                        <input type="text" name="" id="state">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="country">Country</label>
                    </td>
                    <td>
                        <input type="text" name="" id="country">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="nationality">Nationality</label>
                    </td>
                    <td>
                        <input type="text" name="" id="nationality">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="sex">Sex</label>
                    </td>
                    <td>Male: <input type="radio" value="Male" name="sex" id="sex">    Female: <input type="radio" name="sex" value="Female" id="sex"></td>
                    
                </tr>
                <tr>
                    <td>
                        <label for="DOB">Date of Birth</label>
                    </td>
                    <td>
                        <input type="date" name="" id="DOB">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="state">Mother's Maiden Name</label>
                    </td>
                    <td>
                        <input type="text" name="" id="state">
                    </td>
                        
                </tr>
                <tr>
                    <td>
                        <label for="state">Marital Status</label>
                    </td>
                    <td>
                        <select name="" id="">
                            <option value="">Single</option>
                            <option value="">Married</option>
                            <option value="">Divorced</option>
                            <option value="">Widow</option>
                            <option value="">Widower</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Phone-Number">Phone Number</label>
                    </td>
                    <td>
                        <input type="text" name="" id="Phone-Number">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="mobile-number">Mobile Number</label>
                    </td>
                    <td>
                        <input type="text" name="" id="mobile-number">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="state-of-origin">State Of Origin</label>
                    </td>
                    <td>
                        <input type="text" name="" id="state-of-origin" placeholder="Only for Nigerian applicants">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="lga">LGA</label>
                    </td>
                    <td>
                        <input type="text" name="" id="lga" placeholder="Only for Nigerian applicants">
                    </td>
                </tr>
            </table>
            <div>
                <a href="identification.html"><button class="btn btn-primary" style="margin-top: 2%; margin-left: 50%;" >Next</button></a>
            </div>
        </div>
    </section>
</body>
</html>