{% extends "layout.html" %}

    {% block content %}
    <section id="products">
        <div class="container-fluid">
            <h2>Our Products</h2>
            <h4>Crop Farming</h4>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 product-images">
                    <img src="/static/images/Tomato.jpg" alt="">
                    <div>
                        <p>Project Name: <span>Tomatoes</span></p>
                        <p>Project Code: <span>YHT1021</span></p>
                        <!-- <h4>Duration: <span>5months</span></h4> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 product-images">
                    <img src="/static/images/Pepper.jpg" alt="">
                    <div>
                        <h4>Project Name: <span>Pepper</span></h4>
                        <h4>Project Code: <span>PRD 1011</span></h4>
                        <!-- <h4>Duration: <span>5months</span></h4> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 product-images">
                    <img src="/static/images/Soy-beans.jpg" alt="">
                    <div>
                        <p>Project Name: <span>Soybeans</span></p>
                        <p>Project Code: <span>SBR1011</span></p>
                        <!-- <h4>Duration: <span>5months</span></h4> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 product-images">
                    <img src="/static/images/Maize.jpg" alt="">
                    <div>
                        <p>Project Name: <span>Maize</span></p>
                        <p>Project Code: <span>YHT1021</span></p>
                        <!-- <h4>Duration: <span>5months</span></h4> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 product-images">
                    <img src="/static/images/yam.jpg" alt="">
                    <div>
                        <p>Project Name: <span>Yam</span></p>
                        <p>Project Code: <span>THY0097</span></p>
                        <!-- <h4>Duration: <span>12months</span></h4> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 product-images">
                    <img src="/static/images/Plantain.jpg" alt="">
                    <div>
                        <p>Project Name: <span>Plantain</span></p>
                        <p>Project Code: <span>PTL2120</span></p>
                        <!-- <h4>Duration: <span>14months</span></h4> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 product-images">
                    <img src="/static/images/Cassava.jpg" alt="">
                    <div>
                        <p>Project Name: <span>Cassava</span></p>
                        <p>Project Code: <span>CSS0054</span></p>
                        <!-- <h4>Duration: <span>12months</span></h4> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 product-images">
                    <img src="/static/images/Potatoes.jpg" alt="">
                    <div>
                        <p>Project Name: <span>Potatoes</span></p>
                        <p>Project Code: <span>PTP2020</span></p>
                        <!-- <h4>Duration: <span>5months</span></h4> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 product-images">
                    <img src="/static/images/Rice.jpg" alt="">
                    <div>
                        <p>Project Name: <span>Rice</span></p>
                        <p>Project Code: <span>BRC8780</span></p>
                        <!-- <h4>Duration: <span>5months</span></h4> -->
                    </div>
                </div>
            </div>

            <section id="Livestock's-Farming">
                <h4>Livestock's Farming</h4>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 product-images">
                        <img src="/static/images/Boilers.jpg" alt="">
                        <div>
                            <p>Project Name: <span>Broilers</span></p>
                            <p>Project Code: <span>BRD200</span></p>
                            <!-- <h4>Duration: <span>5months</span></h4> -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 product-images">
                        <img src="/static/images/Pigs.jpg" alt="">
                        <div>
                            <p>Project Name: <span>Pigs</span></p>
                            <p>Project Code: <span>PN231</span></p>
                            <!-- <h4>Duration: <span>5months</span></h4> -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 product-images">
                        <img src="/static/images/Cockerels.jpg" alt="">
                        <div>
                            <p>Project Name: <span>Cockerels</span></p>
                            <p>Project Code: <span>BRD201</span></p>
                            <!-- <h4>Duration: <span>5months</span></h4> -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 product-images">
                        <img src="/static/images/Turkey.jpg" alt="">
                        <div>
                            <p>Project Name: <span>Turkey</span></p>
                            <p>Project Code: <span>BRD400</span></p>
                            <!-- <h4>Duration: <span>5months</span></h4> -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 product-images">
                        <img src="/static/images/Goats.jpg" alt="">
                        <div>
                            <p>Project Name: <span>Goats</span></p>
                            <p>Project Code: <span>GTR324</span></p>
                            <!-- <h4>Duration: <span>5months</span></h4> -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    {% endblock content %}